
html{
	box-sizing: border-box;
	background-color: #F4F4F4;
	font-size: 100%;
}	

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}

body {
	
	/*
	background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
	background-color: #001314;
	*/

	font-family: 'Open Sans', sans-serif;
}

body,
textarea,
input {
	font-size: 15px;
}

.flex_wrapper {
	display: flex;
}

.hide {
	display: none;
	overflow: hidden;
	border-top: 2px solid #FB0C59;
}

.outer {
	position: relative;
}

.inner {
	flex-direction: column;
	flex-grow: 1;
	width: 35%;
	max-height: 100%;
}

.chat {
	max-width: 60%;
	min-width: 300px;
	/* min-height: 300px; */
	margin: 0 auto;
	margin-top: 5%;
	box-shadow: 0 2px 6px #A5A5A5;
	background-color: #EBEBEB;
}

.chat_messages {
	font-size: 1.1vw;
	width: 70%;
	height: 500px;
	overflow-y: scroll;
	padding: 2%;
	color: #3C3B3B;
	border: 1px solid transparent;
	border-right: 1px solid #CACACA;
}

/*
.chat_messages::before {
	display: block;
	content:"";
	position: absolute;
	height: 100%;
	width: 100%;
	background: orange;
	color: white;
}
*/

.chat_messages span {
	color: #363C3D;
   font-weight: bold;
}

.chat_messages,
.chat textarea,
.chat_name {
	/* border: 1px solid #FB0C59; */
	background-color: rgb(235, 235, 235);
}

#chat_area {
	width: 100%;
	border-top: none;
	max-width: 100%;
	color: #363C3D;
	font-size: 1.2vw;
	flex-grow: 6;
	max-width: 100%;
	resize: none;
	margin-top: 2px;
	border: none;
	border-bottom: 1px solid #CACACA;
	padding-left: 4%;
	padding-top: 4%;
}	

.chat_name {
	width: 100%;
	background-color: rgba(237,235,236,0.9);
   color: #363C3D;
   font-size: 2.4vw;
   border-color: #132426;
   border: none;
   font-weight: bold;
	padding: 3%;
	padding-left: 12.5%;
	font-family: 'Lora', serif;
}

.name_container {
	position: relative;
}

.name_container::before {
	content:"";
	display: block;
	position: absolute;
	top:50%;
	left:0;
	background: url('../images/ic_user.png') no-repeat;
	background-size: contain;
	background-position-x: 50%;
	height: 60%;
   width: 13%;
	transform: translateY(-50%);
}

.chat_message {
	margin-bottom: 3%;
   padding-bottom: 1%;
	word-break: break-all;
}

.chat_message > img {
	max-width: 50%;
	max-height: 250px;
	margin-top: 6px;
}

.chat_status {
	background-color: rgb(54, 60, 61);
   padding: 10px 10px;
   color: #EBEBEB;
   font-size: 1.2vw;
   text-align: center;
   margin-top: 0;
}

.typing {
	visibility: hidden;
	position: absolute;
	left:0;
	bottom: 0;
	width: 65%;
	color: #FFF;
   font-size: 1.2vw;
   background-color: #FA0C58;
   padding: 0.5% 2%;
}

.connections {
	flex-grow: 2;
	padding-left: 3%;
	overflow-y: scroll;
	font-size: 1vw;
	max-height: 130px;
}

.connection h3 {
   margin: 0.6em 0;
}

.accent {
	color: #FB0C59 !important;
}

.chat ::-webkit-scrollbar {
   width: 5px;
}

.chat ::-webkit-scrollbar-track {
   background-color: transparent;
}

.chat ::-webkit-scrollbar-thumb {
   background-color: #FB0C59;
   border-radius: 15px;
} /* this will style the thumb, ignoring the track */

@media screen and (max-width : 1000px) {
	
	.chat_messages, #chat_area {
      font-size: 1.6vw;
	}
	
	.chat_status {
		font-size: 1.6vw;
	}	
	
	.typing {
		font-size: 2vw;
	}
	
	.connections {
		font-size: 1.4vw;
	}
	
}

@media screen and (max-width : 700px) {
	
	.chat_messages, #chat_area {
      font-size: 1.9vw;
	}
	
	.chat_status {
		font-size: 1.9vw;
	}	
	
	.typing {
		font-size: 2.1vw;
	}
	
	.chat ::-webkit-scrollbar {
		width: 3px;
	}
	
	.connections {
		font-size: 1.7vw;
	}
}