<div class="full-vertical-height">
    <div class="flex_wrapper full-vertical-height">
        <div class="left-content">
            <div class="chat-messages-hold">
                <div class="chat_message" v-for="message in sortedMessages" v-bind:class="{'own-message': isOwnMessage(message)}">
                    <div class="message" v-if="!isOwnMessage(message)">
                        <span>{{message.name}} [{{message.time}}] </span>{{message.message}}
                    </div>
                    <div class="message " v-else>
                        {{message.message}} <span>{{message.name}} [{{message.time}}]</span>
                    </div>
                </div>
            </div>
            <div class="typing-indicator" v-if="isOtherUserTyping">
                {{typingIndicator}} is typing ...
            </div>
        </div>
        <div class="right-content">
            <div class="flex_wrapper inner">
                <!-- New Message -->
                <textarea class="chat_area" placeholder="Type your message" spellcheck="false" v-model="newMessage" v-on:keyup="submitMessage"></textarea>
                <!-- Connected Users -->
                <div class="connected-users-hold">
                    <h3 class="title">Participants</h3>
                    <div class="connected-users">
                        <div class="user-info" v-for="user in users">
                            <img class="avatar" :src="getUserAvatar(user)">
                            <span class="name">{{user.username}}</span>
                        </div>
                    </div>
                </div>
                <!-- Status Indicator -->
                <div class="chat_status">Status: <span>{{status}}</span></div>
            </div>
        </div>
    </div>
</div>