.flex_wrapper {
    display: flex;
}

.left-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
}

.right-content {
    display: flex;
    width: 30%;
}

.chat-messages-hold {
    background: url('/static/sports.png');
    border: 1px solid transparent;
    border-right: 1px solid #CACACA;
    display: flex;
    flex-direction: column;
    font-size: 1.1vw;
    height: 100vh;
    padding: 30px 30px 40px;
    overflow-y: scroll;
    width: 100%;
}

.inner {
    flex-direction: column;
    flex-grow: 1;
    width: 35%;
    max-height: 100%;
}

.chat_message {
    margin-bottom: 15px;
    word-break: break-all;
}

.chat_message > img {
    max-width: 50%;
    max-height: 250px;
    margin-top: 6px;
}

.chat_message.own-message {
    color: white;
    align-self: flex-end;
}

.chat_message.own-message .message {
    background: #5ba4ff;
}

.chat_message.own-message .message span {
    color: #211b1b;
}

.message {
    color: #e2e2e2;
    background: #f35858;
    border-radius: 10px;
    display: inline-block;
    font-size: 13px;
    padding: 15px 20px;
}

.message span {
    color: #6f0000;
}

.typing-indicator {
    background-color: #7070de;
    bottom: 0;
    color: #FFF;
    font-size: 1.1vw;
    left:0;
    padding: 10px 30px;
    position: absolute;
    width: 100%;
}

#chat_area {
    width: 100%;
    border-top: none;
    max-width: 100%;
    color: #363C3D;
    font-size: 1.2vw;
    flex-grow: 6;
    max-width: 100%;
    resize: none;
    margin-top: 2px;
    border: none;
    border-bottom: 1px solid #CACACA;
    padding-left: 4%;
    padding-top: 4%;
}

.chat_status {
    background-color: #1d1d38;
    padding: 10px 10px;
    color: #EBEBEB;
    font-size: 1.1vw;
    text-align: center;
    margin-top: 0;
}

.connections {
    background-color: #252556;
    -ms-flex-positive: 2;
    padding-left: 3%;
    overflow-y: scroll;
    font-size: 2vw;
    flex: 2;
}

.connection h3 {
    margin: 0.6em 0;
}

.accent {
    color: #FB0C59 !important;
}