.flex_wrapper {
    display: flex;
}

.left-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
}

.right-content {
    display: flex;
    width: 30%;
}

.chat-messages-hold {
    background: url('/static/sports.png');
    display: flex;
    flex-direction: column;
    font-size: 1.1vw;
    height: 100vh;
    padding: 30px 30px 40px;
    overflow-y: scroll;
    width: 100%;
}

.inner {
    flex-direction: column;
    flex-grow: 1;
    width: 35%;
    max-height: 100%;
}

.chat_message {
    margin-bottom: 15px;
    max-width: 80%;
    word-break: break-all;
}

.chat_message:last-of-type {
    margin-bottom: 0;
}

.chat_message > img {
    max-width: 50%;
    max-height: 250px;
    margin-top: 6px;
}

.chat_message.own-message {
    align-self: flex-end;
    color: white;
}

.chat_message.own-message .message {
    background: #5ba4ff;
}

.chat_message.own-message .message span {
    color: #211b1b;
}

.chat_message .message-info {
    color: #acacac;
    font-size: 11px;
    padding: 3px 0 0 2px;
}

.chat_message.own-message .message-info {
    padding: 3px 2px 0 0;
    text-align: right;
}

.message {
    color: #f6f6f6;
    background: #f35858;
    border-radius: 6px;
    display: inline-block;
    font-size: 13px;
    padding: 10px 20px;
}

.chat_area {
    background: #f4f4f4;
    border: none;
    border-top: 1px solid #dcdcdc;
    color: #1d1d38;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 0.9vw;
    padding: 10px 20px;
}

.typing-indicator {
    background-color: #7070de;
    bottom: 0;
    color: #FFF;
    font-size: 0.7vw;
    left:0;
    padding: 8px 20px;
    width: 100%;
}

.chat_status {
    background-color: #1d1d38;
    border-top: 1px solid #1d1d38;
    padding: 10px;
    color: #EBEBEB;
    font-size: 0.9vw;
    text-align: center;
    margin-top: 0;
}

.connected-users-hold {
    background-color: #252556;
    flex: 2;
}

.connected-users-hold .title {
    display: flex;
}

.connected-users {
    display: flex;
}

.connected-users .user-info {
    font-size: 0.8vw;
    padding: 10px;
    text-align: center;
    width: 20%;
}

.connected-users .user-info .avatar {
    margin-bottom: 3px;
}

.connected-users .user-info .name {
    color: #8f8fca;
}

.accent {
    color: #FB0C59 !important;
}