.flex_wrapper {
    display: flex;
    background-color: #3d3d58;
}

.outer {
    position: relative;
}

.inner {
    flex-direction: column;
    flex-grow: 1;
    width: 35%;
    max-height: 100%;
}

#chat_area {
    width: 100%;
    border-top: none;
    max-width: 100%;
    color: #363C3D;
    font-size: 1.2vw;
    flex-grow: 6;
    max-width: 100%;
    resize: none;
    margin-top: 2px;
    border: none;
    border-bottom: 1px solid #CACACA;
    padding-left: 4%;
    padding-top: 4%;
}

.chat_message {
    margin-bottom: 3%;
    padding-bottom: 1%;
    word-break: break-all;
}

.chat_message > img {
    max-width: 50%;
    max-height: 250px;
    margin-top: 6px;
}

.chat_messages {
    background: url('/static/sports.png');
    font-size: 1.1vw;
    width: 70%;
    overflow-y: scroll;
    padding: 2%;
    border: 1px solid transparent;
    border-right: 1px solid #CACACA;
}

.message {
    color: #e2e2e2;
    background: #f35858;
    border-radius: 10px;
    font-size: 13px;
    padding: 15px 20px;
    width: 50%;
}

.message span {
    color: #6f0000;
}

.own-message {
    text-align: right;
    margin-left: 50%;
}

.own-message span {
    color: #6f0000;
}

.chat_status {
    background-color: rgb(54, 60, 61);
    padding: 10px 10px;
    color: #EBEBEB;
    font-size: 1.2vw;
    text-align: center;
    margin-top: 0;
}

.typing-indicator {
    position: absolute;
    left:0;
    bottom: 0;
    width: 65%;
    color: #FFF;
    font-size: 1.2vw;
    background-color: #FA0C58;
    padding: 0.5% 2%;
}

.connections {
    -ms-flex-positive: 2;
    padding-left: 3%;
    overflow-y: scroll;
    font-size: 2vw;
    flex: 2;
}

.connection h3 {
    margin: 0.6em 0;
}

.accent {
    color: #FB0C59 !important;
}