*, *:before, *:after {
    box-sizing: inherit;
    outline: none;
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    background: #252556;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #e2e2e2;
}

html, body, #app {
    height: 100vh;
}

.full-vertical-height {
    height: 100vh;
}

.chat ::-webkit-scrollbar {
    width: 5px;
}

.chat ::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat ::-webkit-scrollbar-thumb {
    background-color: #FB0C59;
    border-radius: 15px;
} /* this will style the thumb, ignoring the track */