.sign-in-hold-outer {
    margin: 0 auto;
    padding-top: 50px;
    width: 30%;
}

.sign-in-hold-inner {
    background-color: #ececec;
    border-radius: 3px;
    padding: 30px;
}

.sign-in-hold-outer .form-row {
    color: #252556;
    font-size: 1.1vw;
    border: none;
    font-weight: bold;
    margin-bottom: 15px;
}

.sign-in-hold-outer .form-row label {
    display: block;
    width: 100%;
}

.sign-in-hold-outer .form-row input {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    padding: 8px;
    width: 100%;
}

.sign-in-hold-outer .form-row .submit-btn {
    background-color: #5ba4ff;
    border-radius: 3px;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    font-size: 1.3vw;
    margin-top: 10px;
    padding: 15px 20px;
    text-transform: uppercase;
    width: 100%;
}

.sign-in-hold-outer .form-row .submit-btn:hover, .sign-in-hold-outer .form-row .submit-btn:focus {
    background-color: #5199f3;
}

.sign-in-hold-outer .form-row .submit-btn:active {
    background-color: #3d81d6;
    border: 1px solid #4080d0;
    box-shadow: inset 0 1px 4px #305f9a;
    -webkit-box-shadow: inset 0 1px 4px #305f9a;
    -moz-box-shadow: inset 0 1px 4px #305f9a;
}