.sign-in-hold-outer {
    margin: 0 auto;
    padding-top: 50px;
    width: 30%;
}

.sign-in-hold-inner {
    background-color: #ececec;
    border-radius: 3px;
    padding: 30px;
}

.sign-in-hold-outer .form-row {
    color: #252556;
    font-size: 1.5vw;
    border: none;
    font-weight: bold;
    font-family: 'Lora', serif;
    margin-bottom: 10px;
}

.sign-in-hold-outer .form-row label {
    display: block;
    width: 100%;
}

.sign-in-hold-outer .form-row input {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    padding: 8px;
    width: 100%;
}

.sign-in-hold-outer .form-row .submit-btn {
    background-color: #252556;
    background: #5ba4ff;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5vw;
    font-family: 'Lora', serif;
    font-weight: bold;
    margin-top: 15px;
    padding: 15px 20px;
    text-transform: uppercase;
    width: 100%;
}

.sign-in-hold-outer .form-row .submit-btn:hover {
    background: #5199f3;
}